version: '3'

services:
  minio:
    image: minio/minio:latest
    platform: linux/amd64
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_password
    volumes:
      - ./minio/data:/data
    command: server --console-address ":9001" /data

  nginx:
    image: nginx:latest
    platform: linux/amd64
    container_name: nginx
    ports:
      - "3000:80"
    volumes:
      - ./nginx/logs:/var/log/nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
